[scripts]
crawl = "scrapy crawl products -O"
crawl-min = "scrapy crawl products -a small_sample=true -O"
wildberries-shell = "pipenv run scrapy shell 'https://www.wildberries.ru/catalog/obuv/zhenskaya/sabo-i-myuli/myuli'"
wildberries-shell-product = "pipenv run scrapy shell 'https://www.wildberries.ru/catalog/13376797/detail.aspx?targetUrl=GP'"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"

[dev-packages]

[requires]
python_version = "3.9"
